*{
    margin: 0;
    padding: 0;
}
#navbar-top{
    background-color: black;
    color: white;
}
.rsc{
    display: flex;
}
#btn3{
    width: 100px;
    height: 36px;
    background-color: rgb(106, 208, 152);
    border: none;
}
#btn3 a{
    text-decoration: none;
    color: black;
    font-weight: bold;

}
.icons{
    margin-left: 10px;
    margin-top: 3px;
    cursor: pointer;
}
.icons i{
    margin-left: 5px;
}
#navbar-color{
    background-color: rgb(106, 208, 152);
}
#navbar-logo i img{
    width: 30px;
    margin-bottom: 7px;
    margin-right: 10px;
}
#navbar-logo{
    font-size: 35px;
    font-family: 'Tiro Devanagari Marathi', serif;
    color: white;
    font-weight: bold;
    text-shadow: 2px 1px 5px black;
}
.nav-link{
    text-decoration: none;
    font-weight: bold;
    color: black;
}
.nav-link:hover{
    color: white;
    text-shadow: 2px 1px 5px black;
}
.new-icons{
    cursor: pointer;
}

.hc{
    background-color: rgba(96, 89, 89, 0.87);
}
.home-content{
    width: 100%;
    height: 100vh;
    background-image: url(iphone001.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80%;
    box-shadow: 0 0 10px black;
}
  
}
.content{
    width: 50%;
    padding-top: 210px;
    margin-left: 20px;
}
.content h1,p{
    color: white;
    text-shadow: 2px 1px 5px black;
    margin: 0px;
        padding-left:15px;
}
.content p{
    color: white;
    text-shadow: 2px 1px 5px black;
}
.a{
  color: white;
}
#btn1 button{
  margin-left: 10px;
    width: 200px;
    height: 32px;
    background-color: #b77777;
    border: none;
    letter-spacing: 5px;
    font-weight: bold;
    transition: 0.3s ease;
    cursor: pointer;
}
    @media screen and (max-width: 900px) {
      #btn1 button {
        margin-left: 10px !important;
        width: 130px !important;
        height: 26px !important;
        background-color: #b77777 !important;
        border: none !important;
        letter-spacing: 1px !important;
        font-weight: bold !important;
        transition: 0.3s ease !important;
      }
      
      .content p{
        font-size: 12px;
      margin-bottom:12px;
      }
      
      .content h1{
        margin: 2px;
        padding-left:15px;
        color: white;
        font-size: 32px;
        text-shadow: 2px 1px 5px black;
    }
    .home-content{
      height: 600px;
  }
}
#btn1{
    margin-top: 5px;
}
#btn1 button:hover{
    background-color: #d6c087;
    box-shadow: 0 0 5px #ead292,
                0 0 10px #beaf87,
                0 0 30px #d8c798,
                0 0  30px #d0c196;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(shoppingback.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 70%;
}
@media screen and (max-width: 900px) {
  .banner{
    width: 100%;
    height: 700px;
    border-top: 0px;
    background-image:url(image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
  }
.banner-content{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 240px;
    font-family: 'Tiro Devanagari Marathi', serif;
}
.banner-content h1{
    color: black;
}
@media screen and (max-width: 900px) {
.banner-content h1{
  padding-top: 40px;
  color: rgb(255, 255, 255);
}
.banner-content{
  padding-top: 40px;
}
.change-content:after{
    content: '';
    color: #f3ab77;
    text-shadow: 2px 1px 5px black;
    font-weight: bold;
    animation: changetext 10s infinite linear;
}
@keyframes changetext{
    0%{content: "T SHIRT";}
    10%{content: "SHOES";}
    20%{content: "HOODIS";}
    30%{content: "CAP";}
    40%{content: "PANTS";}
    50%{content: "LAPTOP";}
    60%{content: "KEYBOARD";}
    65%{content: "CAMERAS";}
    75%{content: "MOUSE";}
    80%{content: "GAMING PC";}
    85%{content: "WATCH";}
    90%{content: "TABLETS";}
    100%{content: "PHONE";}
}

.search-box{
	position: absolute;
	margin-top: 50px;
	left: 50%;
	transform: translate(-50%,-50%);
	background:#353b48;
	height: 60px;
	border-radius: 50px;
	padding: 10px;
}

.search-box:hover .search-txt{
	width: 100px;
	padding: 0 6px;
}

.search-box:hover .search-btn{
	background: #da9a71;
}


.search-btn{
	float: right;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #d1a28d;
	display: flex;
	justify-content: center;
	align-items: center;

}

.search-txt{
	border:none;
	outline: none;
	background: none;
	float: left;
	padding: 0;
	color:#fff;
	font-size: 16px;
	line-height: 40px;
	width: 0;
	transition: width 400ms;

}

 .card{
     box-shadow: 0 0 5px black;
     
 }
 .card h5{
     font-weight: bold;
 }
 .card p{
     font-weight: 500;
 }
 .checked{
     color: #dcb67b;
 }
#btn2{
    text-align: center;
    margin-top: 10px;
}
#btn2 button{
    
    width: 100px;
    height: 30px;
    background-color: #f8a995;
    border: none;
    font-weight: bold;
    letter-spacing: 3px;
    transition: 0.3s ease;
    cursor: pointer;
}
#btn2 button:hover{
    background-color: #dda867;
    box-shadow: 0 0 5px #dda867,
                0 0 20px #dda867,
                0 0 60px #dda867,
                0 0  150px #dda867;
}
.all-category{
    margin-top: 10px;
    margin-left: 36px;
}
.all-category button{
    border: 1px solid rgb(178, 114, 114);
    margin-top: 20px;
}
.all-category a{
    background-color: #a7a585;
}

#slider{
    margin-top: 100px;
}


.collections {
    background: #f7f7f7;
}

.newsletter-w3pvt form {
    margin: 0 auto;
    width: 60%;
}

.newsletter-w3pvt p {
    font-size: 1.2em;
    margin-bottom: 2em;
    color: #777;
    font-weight: 600;
}

.subscribe-sec input {

    padding: 0.85em 1em;
    color: #495057;
    border-radius: 0.25rem;
    font-size: 0.9em;
    border: none;
    outline: none;
    letter-spacing: 2px;
    -moz-box-shadow: 1px 3px 8px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 1px 3px 8px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 1px 3px 8px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 3px 8px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 1px 3px 8px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 1px 3px 8px 0 rgba(0, 0, 0, 0.15);
}

.btn.subscribe {
    background: #d77d5c;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    color: #fff;
    padding: 0.8em 3em;
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 2px;
    font-weight: 600;
    -moz-box-shadow: 1px 3px 8px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 1px 3px 8px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 1px 3px 8px 0 rgba(0, 0, 0, 0.15);
}

.btn.subscribe:hover,
.btn.shop:hover {
    opacity: 0.9;
}

#footer {
    padding: 0 0 30px 0;
    color: #d0d0d0;
    font-size: 14px;
    background: #111111;
  }
  #footer .footer-newsletter {
    padding: 50px 0;
    background: #111111;
    text-align: center;
    font-size: 15px;
    color: #fff;
  }
  #footer .footer-newsletter h4 {
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
  }
  #footer .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    text-align: left;
  }
  #footer .footer-newsletter form input[type=email] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
  }
  #footer .footer-newsletter form input[type=submit] {
    position: absolute;
    top: 0;
    right: -2px;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px 3px 20px;
    background: #4eb478;
    color: #fff;
    transition: 0.3s;
    border-radius: 0 5px 5px 0;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
  #footer .footer-newsletter form input[type=submit]:hover {
    background: #e39162;
  }
  #footer .footer-top {
    padding: 60px 0 30px 0;
    background: #1b1b1b;
    color: #fff;
  }
  #footer .footer-top .footer-contact {
    margin-bottom: 30px;
  }
  #footer .footer-top .footer-contact h3 {
    color: #dfa775;
  }
  #footer .footer-top .footer-contact h4 {
    font-size: 22px;
    margin: 0 0 30px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
  }
  #footer .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    color: #b7b7b7;
  }
  #footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
  }
  #footer .footer-top .footer-links {
    margin-bottom: 30px;
  }
  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  #footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #eaaa78;
    font-size: 18px;
    line-height: 1;
  }
  #footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  #footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }
  #footer .footer-top .footer-links ul a {
    color: #aaaaaa;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }
  #footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    color: #f5b500;
  }
  #footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #373737;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  #footer .footer-top .social-links a:hover {
    background: #f5b500;
    color: #fff;
    text-decoration: none;
  }
  #footer .copyright {
    text-align: center;
    float: left;
  }
  #footer .credits {
    float: right;
    text-align: center;
    font-size: 13px;
    
  }
  #footer .credits a{
      color: #e6a381;
  }

html{
    scroll-behavior: smooth;
}
.arrow{
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;

}
